---
# ============================================================
# PLAY 0 — RUN flux.py ON LOCALHOST ONLY
# ============================================================
# - name: Run flux on localhost
#   hosts: localhost
#   gather_facts: no
#   connection: local

#   tasks:
#     - name: Open Terminal and run flux.py interactively
#       ansible.builtin.shell: |
#         osascript <<EOF
#         tell application "Terminal"
#             do script "cd '{{ playbook_dir }}/..'; python3 detection/flux.py"
#             activate
#         end tell
#         EOF
#       args:
#         executable: /bin/bash
#       async: 10
#       poll: 0
    
#     - name: Open Terminal and run flux.py interactively
#       ansible.builtin.shell: |
#         osascript <<EOF
#         tell application "Terminal"
#             do script "cd '{{ playbook_dir }}/..'; python3 receiver/visualReceiver.py"
#             activate
#         end tell
#         EOF
#       args:
#         executable: /bin/bash
#       async: 10
#       poll: 0

# ============================================================
# PLAY 1 — RUN visualReceiver.py ON REMOTE HOSTS (ASYNC) USING VENV
# ============================================================
- name: Start visualReceiver on remote hosts
  hosts: meatops
  gather_facts: no

  vars:
    project_root: "/home/{{ ansible_user }}/Desktop/BUTCHER"
    venv_dir: "{{ project_root }}/.venv"

  tasks:

    # - name: Ensure ffmpeg is installed
    #   become: true
    #   ansible.builtin.apt:
    #     name: ffmpeg
    #     state: present
    #     update_cache: yes


    - name: Downscale all video* and video_vertical* in media to max 320px
      ansible.builtin.shell: >
        cd "{{ project_root }}/media" &&
        echo "[INFO] In $(pwd)" &&
        for f in video*.* video_vertical*.*; do
          if [ -f "$f" ]; then
            echo "[INFO] Processing $f"
            tmp="tmp_$f"
            ffmpeg -y -i "$f" -vf 'scale=320:320:force_original_aspect_ratio=decrease,pad=ceil(iw/2)*2:ceil(ih/2)*2' -c:a copy "$tmp"
            mv "$tmp" "$f"
          fi
        done &&
        echo "[INFO] Done scaling videos in media/"
      args:
        executable: /bin/bash



    # - name: Run OpenCV motion script on Pi display
    #   become: true
    #   become_user: student
      
    #   ansible.builtin.command: python3 {{ python_path }} 
    #   async: 3600
    #   poll: 0

