---
- name: Set up SSH key authentication for all hosts
  hosts: meatops
  gather_facts: no
  vars:
    ssh_key_path: "~/.ssh/id_ed25519.pub"

  tasks:
    - name: Ensure SSH key exists locally
      ansible.builtin.command: ssh-keygen -t ed25519 -f ~/.ssh/id_ed25519 -N ""
      args:
        creates: "~/.ssh/id_ed25519"

    - name: Install SSH public key on remote hosts
      ansible.posix.authorized_key:
        user: "{{ ansible_user }}"
        state: present
        key: "{{ lookup('file', ssh_key_path) }}"
